{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<h4>Eshop Store</h4>

<div class="store-page">
	<div class="row">
		{% for product in products %}
		<div class="col-lg-3">
			<img class="thumbnail" src="{{product.imageURL}}">
			{% if product.is_new == True %}
				<img class="new" src="{% static 'images/new.png' %}">
			{% endif %}
			<div class="product">
				<h6 style="float:right; color:#F62817;">${{product.price|floatformat:2}}</h6>
				<h6>{{product.name}}</h6>
				<button data-product={{product.id}} data-action="add" class="btn btn-secondary add-btn update-cart">Add to Cart</button>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="attributions">
	<h3>[Attributions]</h3>
	<p>Shoes - by <a target="_blank" href="https://unsplash.com/@revolt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">REVOLT </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>Pet Toy - by <a target="_blank" href="https://unsplash.com/@hypethat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chris Jarvis </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>Switch - by <a target="_blank" href="https://unsplash.com/@stereophototyp?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sara Kurfeß </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>Play Station - by <a target="_blank" href="https://unsplash.com/@levajsics?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Norbert Levajsics </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>Camera - by <a target="_blank" href="https://unsplash.com/@ryunosuke_kikuno?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ryunosuke Kikuno </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>Dog Harness - by <a target="_blank" href="https://unsplash.com/@danedeaner?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dane Deaner </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>VR Headset - by <a target="_blank" href="https://unsplash.com/@viniciusamano?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vinicius "amnx" Amano </a>on <a target="_blank" href="https://unsplash.com/">Unsplash</a></p>
	<p>Book - by <a target="_blank" href="www.freepik.com"> freepik</a></p>
	<p>New Tag - by <a target="_blank" href="https://www.pngaaa.com"> pngaaa</a></p>
	</div>
</div>

{% endblock content %}